body {
    background-color: green;
}

h1 {
    text-align: center;
    font-size: 50px;
    background-color: yellow;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-width: 100%;

}

figcaption {
    padding: px 0;
    text-align: center;

}

h2 {
    font-size: 20px;
    text-align: center;
}

img,
figcaption {
    background-color: yellow;
   
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

* ul,
li {
    align-items: center;
}

footer {
    font-size: 15px;
    font-weight: bold;
}
